mixin fullPostSection(post, credentials)
  include ../layout/mainContainer 
    section.px-2.py-3.rounded-3.row.post-card
      d-flex.rounded-3.items-align-center.text-center.mt-3.mb-4
        if post.Image 
          img.full-post-img.rounded-3(src=`${process.env.SUPABASE_BUCKET_URL}/${post.Image}`)
        else 
          img.rounded-3(src=`${process.env.SUPABASE_BUCKET_URL}/default.jpg`)
      .items-align-center.text-center
        h2.mb-2 #{post.Title}
      .d-flex.justify-content-center
        a.h5.mb-2.author-link(href=`/posts/user/${post.UserId}`) @#{post.Username}
        p.mx-2 |
        a.h5.author-link(href=`/posts/category/${post.CategoryName}`) #{post.CategoryName}
      .items-align-center.text-center
        if credentials
          if post.UserId === credentials.id || credentials.admin
            .row.align.mx-5.px-4
              .col-md-6
                form(action=`/posts/edit/${post.Id}` method="GET")
                  button.btn.custom-button.w-100(type="submit") Edit
              .col-md-6
                form(action=`/posts/delete/${post.Id}` method="POST")
                  button.btn.custom-error-button.w-100(type="submit") Delete
      p.mt-4.px-4(style='text-align: justify;') #{post.Content}
    include ./commentSection
    +commentSection(post, credentials)
      