mixin pagination(pages, currentPage, config)
  nav.w-100(aria-label='...')
    ul.pagination
      if pages > 1
        if config.type === 'Home'
          if currentPage > 1
            li.page-item
              if currentPage > 2
                a.page-link(href=`/${currentPage - 1}`) Previous
              else 
                a.page-link(href='/') Previous
          each i in Array.from({ length: pages }).map((_, index) => index)
            li.page-item
              if i !== 0
                if i === currentPage - 1
                  a.page-link.active(href=`/${i + 1}`) #{i + 1}
                else 
                  a.page-link(href=`/${i + 1}`) #{i + 1}
              else
                if i === currentPage - 1
                  a.page-link.active(href='/') #{i + 1}
                else 
                  a.page-link(href='/') #{i + 1}
          if currentPage < pages 
            li.page-item
              a.page-link(href=`/${currentPage + 1}`) Next
        else if config.type === 'User'
          if currentPage > 1
            li.page-item
              if currentPage > 2
                a.page-link(href=`/posts/user/${config.authorId}/${currentPage - 1}`) Previous
              else 
                a.page-link(href=`/posts/user/${config.authorId}`) Previous
          each i in Array.from({ length: pages }).map((_, index) => index)
            li.page-item
              if i !== 0
                if i === currentPage - 1
                  a.page-link.active(href=`/posts/user/${config.authorId}/${i + 1}`) #{i + 1}
                else 
                  a.page-link(href=`/posts/user/${config.authorId}/${i + 1}`) #{i + 1}
              else
                if i === currentPage - 1
                  a.page-link.active(href=`/posts/user/${config.authorId}/`) #{i + 1}
                else 
                  a.page-link(href=`/posts/user/${config.authorId}/`) #{i + 1}
          if currentPage < pages 
            li.page-item
              a.page-link(href=`/posts/user/${config.authorId}/${currentPage + 1}`) Next
        else if config.type === 'Category'
          if currentPage > 1
            li.page-item
              if currentPage > 2
                a.page-link(href=`/posts/category/${config.category}/${currentPage - 1}`) Previous
              else 
                a.page-link(href=`/posts/category/${config.category}`) Previous
          each i in Array.from({ length: pages }).map((_, index) => index)
            li.page-item
              if i !== 0
                if i === currentPage - 1
                  a.page-link.active(href=`/posts/category/${config.category}/${i + 1}`) #{i + 1}
                else 
                  a.page-link(href=`/posts/category/${config.category}/${i + 1}`) #{i + 1}
              else
                if i === currentPage - 1
                  a.page-link.active(href=`/posts/category/${config.authorId}/`) #{i + 1}
                else 
                  a.page-link(href=`/posts/category/${config.category}/`) #{i + 1}
          if currentPage < pages 
            li.page-item
              a.page-link(href=`/posts/category/${config.category}/${currentPage + 1}`) Next
        else if config.type === 'Profile'
          if currentPage > 1
            li.page-item
              if currentPage > 2
                a.page-link(href=`/profile/posts/${currentPage - 1}`) Previous
              else 
                a.page-link(href=`/profile/posts/`) Previous
          each i in Array.from({ length: pages }).map((_, index) => index)
            li.page-item
              if i !== 0
                if i === currentPage - 1
                  a.page-link.active(href=`/profile/posts/${i + 1}`) #{i + 1}
                else 
                  a.page-link(href=`/profile/posts/${i + 1}`) #{i + 1}
              else
                if i === currentPage - 1
                  a.page-link.active(href=`/profile/posts/`) #{i + 1}
                else 
                  a.page-link(href=`/profile/posts/`) #{i + 1}
          if currentPage < pages 
            li.page-item
              a.page-link(href=`/profile/posts/${currentPage + 1}`) Next