mixin post(post)
  section.mb-4.px-2.py-3.rounded-3.row.post-card
    .col-md-4.d-flex
      if post.Image 
        img.rounded-3(src=`${process.env.SUPABASE_BUCKET_URL}/${post.Image}`)
      else 
        img.rounded-3(src=`${process.env.SUPABASE_BUCKET_URL}/default.jpg`)
    .col-md-8
      .d-flex
        a.h6.author-link(href=`/posts/user/${post.UserId}`) @#{post.Username} 
        p.mx-2 |  
        a.h6.mx-1.author-link(href=`/posts/category/${post.CategoryName}`) #{post.CategoryName}
      h4.my-1 #{post.Title}
      p #{post.Date}
      p(style='text-align: justify;')
        if post.Content.length <= 300
          | #{post.Content}
        else
          | #{post.Content.slice(0, 300)}
          a.h6.mx-2.more-link(href=`/posts/${post.Id}`) More
      a.h6.author-link(href=`/posts/${post.Id}`) #{post.CommentCount} comments
  