mixin usersTable(users)
  section.col-10.col-md-10.col-lg-10.col-xl-8.col-xxl-7.justify-content-center(style="margin-right: 10px")
    section.p-3.rounded-3.row.post-card
      h5 Users 
      hr
      table.table.table-dark.rounded-3
        thead
          tr
          th(scope='col') Username
          th(scope='col') Admin
          th(scope='col') Modify
          th(scope='col') Delete
        tbody
          each record in users 
            tr 
              td @#{record.Email.split('@')[0]}
              td #{record.Admin}
              td 
                form(action=`/user/${record.Id}/${record.Admin}` method='POST')
                  if record.Admin === false 
                    button.btn.custom-button.w-100(type='submit') Upgrade
                  else 
                    button.btn.custom-error-button.w-100(type='submit') Downgrade
              td
                form(action=`/user/${record.Id}` method='POST')
                  button.btn.custom-error-button.w-100(type='submit') Delete
          